*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   
   text-align: center;
   background-color: #121212;
   color: white;
   font-family: "Quicksand", sans-serif;
   width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 20px;
    font-size: 3em;
}


.title{
    width: 100%;
    border-bottom: 5px solid maroon; 
    line-height: 200%;
    background: linear-gradient(to bottom, red, maroon); 
    color: whitesmoke;
    text-transform: uppercase;
    
}

.border{

    width: 300px;
    height: 10px;
    background:maroon;
    margin: 1.5em auto;

}

.container{
    width: 50%;
    border: 5px solid red;
    margin: 2em auto;
    background-color: black;
    border-radius: 10px;
}

form input[type = "text"] {
    font-size: 24px;
    border: 0;
    background: none;
    margin: 15px auto;
    text-align: center;
    border: 3px solid #00ffff;
    padding: 0.25em 2em;
    border-radius: 15px 0 15px 0;
    width: 50%;
    outline: none;
    color: white;
    transition: 0.25s;

}

form input[type = "text"]:focus{
    width: 75%;
    border-color: #2ecc71;
    
}



form input[type = "submit"]{
    
    border: 0;
    font-size: 24px;
    background: none;
    background-color: transparent;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 3px solid #2ecc71;
    padding: 0.25em 2em;
    outline: none;
    color: grey;
    border-radius: 0 15px 0 15px;
    transition: 0.25s;
    cursor: pointer;
    width: 50%;
    
}

form input[type = "submit"]:hover{
    background: #2ecc71;
    color: white;
}

.answers{
    width: 50%;
    margin: 0 auto;
    background-color: black;
    border: 5px solid white;
    border-radius: 10px;
}

.result{
    width: 100%;
    line-height: 200%;
    color: whitesmoke;
    text-transform: uppercase;
    border-bottom: 5px solid white;
    
}

.ansDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ansText{

    width: 50%;
    font-size: 2em;
    border-left: 2.5px solid white;
    border-bottom: 5px solid white;
    
}

.questionText{
    width: 50%;
    font-size: 2em;
    border-right: 2.5px solid white;
    border-bottom: 5px solid white;
}


.learn-btn{
    
    border: 5px solid white ;
    background: black;
    transition: 0.5s linear;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 20px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    overflow: hidden;
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px;
    outline: none;
    color: white;

    
}



.learn-btn:hover {
    border-color: #c0392b;
}

